<section class="shopping-page">

	<!-- Banner Poster -->
	<section class="the-products">



<!-- Left Hand Column -->
<!-- L-Column Will Remain Static -->
		<section class="left-hand-column-kids">
			<h3>Boys'</h3>
			<div class="hr-line">
				<hr>
			</div>


	<!-- Shoe Shopping -->
			<div class="shop-prods">
				<h5>Shoes</h5>
				<div class="shop-prods-categ">
					<a href="#" class="prods">Lifestyle (nums)</a>
					<a href="#" class="prods">Running (nums)</a>
					<a href="#" class="prods">Basketball (nums)</a>
					<a href="#" class="prods">Soccer (nums)</a>
					<a href="#" class="prods">Training & Gym (nums)</a>
				</div>
			</div>

			<div class="shop-prods">
				<h5>Clothes</h5>
				<div class="shop-prods-categ">
					<a href="#" class="prods">Tops & T-Shirts</a>
					<a href="#" class="prods">Hoodies & Pullovers</a>
					<a href="#" class="prods">Jackets & Vests</a>
					<a href="#" class="prods">Pants & Tights</a>
					<a href="#" class="prods">Socks</a>
					<a href="#" class="prods">Accessories & Equipment</a>
				</div>
			</div>

			<h3>Filters</h3>
			<div class="hr-line">
				<hr>
			</div>

			<div class="shop-prods">
				<div class="shop-prods-categ">
					<a href="#" class="shop-categ-coll"><h5 class="prods">Sport</h5> <span class="prods">+</span></a>
					<a href="#" class="shop-categ-coll"><h5 class="prods">Size Range</h5> <span class="prods">+</span></a>
					<a href="#" class="shop-categ-coll"><h5 class="prods">Collections</h5> <span class="prods">+</span></a>
					<a href="#" class="shop-categ-coll"><h5 class="prods">Fit</h5> <span class="prods">+</span></a>
					<a href="#" class="shop-categ-coll"><h5 class="prods">Color?</h5> <span class="prods">+</span></a>
					<a href="#" class="shop-categ-coll"><h5 class="prods">Size</h5> <span class="prods">+</span></a>
				</div>
			</div>
		</section>






<!-- Right Hand Column -->
<!-- R-Side Will Constantly Be Changing -->
	<section class="right-hand-column-kids">
		<div class="shopping-poster-pic-kids">
			<div class="shopping-multi-image">
				<img src="css/products/productsimage/nikegproducts/running.png" alt="">
				<img src="css/products/productsimage/nikegproducts/basketball.png" alt="">
				<img src="css/products/productsimage/nikegproducts/soccer.png" alt="">
				<img src="css/products/productsimage/nikegproducts/lifestyle.png" alt="">
				<img src="css/products/productsimage/nikegproducts/training.png" alt="">
				<img src="css/products/productsimage/nikegproducts/jordan.png" alt="">
			</div>
			<div class="shopping-poster-text-kids">
				<h1>Find the</h1>
				<h1>perfect pair</h1>
				<p>For sport. For play.</p>
				<p>For everyday.</p>
			</div>
		</div>

	<!-- Categories under shoes -->
		<div class="categories-under-shoes">
			<a href="">Running</a>
			<a href="">Basketball</a>
			<a href="">Soccer</a>
			<a href="">Lifestyle</a>
			<a href="">Training</a>
			<a href="">Jordan</a>

		</div>
	</section>


	</section>
</section>
