<header>
	<nav class="menu-bar">
		<div class="menu logo">
			<a ui-sref="home"><img src="css/images/navbarpics/nikeLogo.png" alt=""></a>
		</div>
		<div class="menu categories">
			<a ui-sref="men" class="underline">Men</a>
			<a ui-sref="women" class="underline">Women</a>
			<a ui-sref="boys" class="underline">Boys</a>
			<a ui-sref="girls" class="underline">Girls</a>
			<a ui-sref="customize" class="underline">Customize</a>
		</div>
		<div class="menu search-bar">
				<input type="text" class="search" placeholder="Search Here">
		</div>
	</nav>
</header>
