<section class="nike-boys-container">
	<!-- Nike Boys Header -->
	<section class="nike-boys-header-container">
		<div class="nike-boys-header">
			<h1>Nike Boys</h1>
		</div>
		<div class="nike-boys-nav">
			<a href="#" class="boys-cloth">Shoes</a>
			<a href="#" class="boys-cloth boys-clothing-nav">Clothing</a>
			<a href="#" class="boys-cloth">Gear</a>
			<a href="#" class="boys-cloth boys-clothing-nav">Sports Checklist</a>
			<a href="#" class="boys-cloth">Size Guide</a>
		</div>
	</section>

	<!-- Nike Boys Poster Picture -->
	<section class="nike-boys-poster">
		<img src="css/images/nikebpics/nikeboys.png" alt="">
		<div class="kids-poster-title">
			<h1 class="kids-title-cap">Stay Restless</h1>
			<p class="kids-para-cap">All the gear you need to be everywhere this summer</p>
		</div>
		<button class="kids-button">Shop Now</button>
	</section>

	<section class="kids-shop-by-size">
		<div class="boys-size">

			<div class="boys-size-title">
				<div class="title-boys-size">
					<h2 class="shop-boys">Shop</h2>
					<h2>by size</h2>
				</div>
				<p>Get Size Help</p>
			</div>

			<div class="boys-infant-toddler boys-infant">
				<img src="css/images/nikebpics/infant.png" alt="">
				<div class="boys-infant-toddler-text">
					<h4>Infant & Toddler</h4>
					<div class="mini-text">
						<h6 class="tods-text">Clothing (0m-4t)</h6>
						<h6>Shoes (0c-10c)</h6>
					</div>
				</div>
			</div>

			<div class="boys-little-kids boys-infant-toddler">
				<img src="css/images/nikebpics/littlekids.png" alt="">
				<div class="boys-infant-toddler-text">
					<h4>Little Kids</h4>
					<div class="mini-text">
						<h6 class="tods-text">Clothing (4-7)</h6>
						<h6>Shoes (10.5c-3y)</h6>
					</div>
				</div>
			</div>

			<div class="boys-infant-toddler">
				<img src="css/images/nikebpics/bigkids.png" alt="">
				<div class="boys-infant-toddler-text">
					<h4>Big Kids</h4>
					<div class="mini-text">
						<h6 class="tods-text">Clothing (xs-xl)</h6>
						<h6>Shoes (3.5y-7y)</h6>
					</div>
				</div>
		</div>

	</section>

	<section class="find-the-perfect">
		<div class="find-the-perfect-title">
			<h1>Find the perfect pair</h1>
		</div>

		<div class="shoe-pic-kids">

		</div>
	</section>

</section>
