<section class="shopping-page">

	<!-- Banner Poster -->
	<section class="the-products">



<!-- Left Hand Column -->
<!-- L-Column Will Remain Static -->
		<section class="left-hand-column">
			<h3>Mens'</h3>
			<div class="hr-line">
				<hr>
			</div>

	<!-- Shoe Shopping -->
			<div class="shop-prods">
				<h5>Shoes</h5>
				<div class="shop-prods-categ">
					<a href="#">Lifestyle (nums)</a>
					<a href="#">Running (nums)</a>
					<a href="#">Basketball (nums)</a>
					<a href="#">Soccer (nums)</a>
					<a href="#">Training & Gym (nums)</a>
				</div>
			</div>

			<div class="shop-prods">
				<h5>Clothes</h5>
				<div class="shop-prods-categ">
					<a href="#">Tops & T-Shirts</a>
					<a href="#">Hoodies & Pullovers</a>
					<a href="#">Jackets & Vests</a>
					<a href="#">Pants & Tights</a>
					<a href="#">Socks</a>
					<a href="#">Accessories & Equipment</a>
				</div>
			</div>

			<h3>Filters</h3>
			<div class="hr-line">
				<hr>
			</div>

			<div class="shop-prods">
				<div class="shop-prods-categ">
					<a href="#"><h5>Sport <span>+</span></h5></a>
					<a href="#"><h5>Best For <span>+</span></h5></a>
					<a href="#"><h5>Collections <span>+</span></h5></a>
					<a href="#"><h5>Fit <span>+</span></h5></a>
					<a href="#"><h5>Color? <span>+</span></h5></a>
					<a href="#"><h5>Size <span>+</span></h5></a>
				</div>
			</div>

		</section>






<!-- Right Hand Column -->
<!-- R-Side Will Constantly Be Changing -->
	<section class="right-hand-column">
		<div class="shopping-poster-pic">
			<img src="css/productsimage/nikemproducts/nikembanner.png" alt="">
			<div class="shopping-poster-text">
				<h1>Find the right</h1>
				<h1>shoe for your sport</h1>
			</div>
		</div>
		<div>
			<h1>Need to add content</h1>
		</div>
	</section>








	</section>
</section>
