<section class="productview-sect">


	<div class="productview-mini-pics">
		<img src="views/productsviews/productinfoview/img/examplethumbnail.png" alt="">
	</div>

	<div class="productview-main-pic">
		<img src="views/productsviews/productinfoview/img/exampleshoe.png" alt="">
	</div>

	<div class="productview-desc-sect">


		<div class="productview-desc">
			<div class="productview-text">
				<h3>Air Jordan 7 Retro</h3>
				<h6>Big Kids' Shoe</h6>
				<h4>$140</h4>
			</div>

			<div class="productview-desc-rating">
				<img src="views/productsviews/productinfoview/img/rating.png" alt="">
			</div>
		</div>



		<hr>


		<div class="mini-desc">
			<p class="mini-desc-p">Black/Hyper Pink/Hyper pink</p>
			<p class="mini-desc-style">Style: 242987-003</p>
		</div>

<!-- Mini Image -->
		<div>
			<img style="border:2px solid #ccc" src="views/productsviews/productinfoview/img/examplethumbnail.png" alt="">
		</div>

<!-- Buttons Size/AddCart -->

		<div class="productview-mini-buttons">
			<button class="product-view-size">One Size Fits All</button>
			<button class="product-view-cart">Add To Cart</button>

		</div>


	</div>


</section>
